---
import PictureResponsive from "../components/PictureResponsive";
import VideoClip from "../components/VideoClip";
import SwiperSlider from "../components/SwiperSlider";

//Data fetching example: https://docs.astro.build/en/guides/data-fetching/
const response = await fetch(
  "http://hipsum.co/api/?type=hipster-centric&sentences=4",
);
const data = await response.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <div class="cncc-container bg-slate-50 px-8 pb-32 pt-8 text-justify">
      <header>
        <h1 class="py-8 text-center text-8xl">CNCC Override Theme 1.0</h1>
        <p class="mx-auto max-w-2xl pb-24 text-center">{data}</p>
      </header>
      <section>
        <h2 class="pb-8 text-center text-4xl">Picture Responsive</h2>
        <PictureResponsive
          childClass="mb-16 w-full h-auto"
          imageType="fluid"
          copilotImageUrl="https://media.allure.com/photos/6073267d482d54c341164d05/original/pass/marek-piwnicki-_8zfgT9kS2g-unsplash.jpg?format=original"
          width={1920}
          widthList={[480, 960, 1440, 1920]}
          height={1200}
          fileName={"clouds"}
          alttext={"This is some alt text"}
          loading={"lazy"}
        />
      </section>
      <section>
        <h2 class="pb-8 text-center text-4xl">Swiper Slider</h2>
        <SwiperSlider client:load />
      </section>
      <section>
        <h2 class="pb-8 pt-16 text-center text-4xl">Video Clip</h2>
        <VideoClip
          copilotPosterUrl="https://assets.vogue.com/photos/64498432a60499e2993fb7f2/master/w_800,h_800,c_limit/644983eb82b43b68a319bca7_sonali%20ohrie_1_autoxauto_00001.jpg"
          copilotClipUrl="https://assets.vogue.com/clips/644983eb82b43b68a319bca6/original/pass/sonali%20ohrie_1.mp4?format=original"
          fileName="video-example"
          quality="1080p"
          width={900}
          height={720}
          customClass="w-full h-auto mx-auto max-w-2xl"
        />
      </section>
    </div>
  </body>
</html>
